<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Interdroit - Backoffice{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('back') }}
    {% endblock %}

</head>

<body id="page-top">
    {% block body %}
        {% block menu %}
            <h1> backoffice </h1>
        {% endblock %}
        {% block main %}
        {% endblock %}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('back') }}
    {% endblock %}
</body>

</html>
