<img src="{{ absolute_url(asset('img/logo_2.png')) }}" style="margin: 0 auto;">

<h3 style="text-align: center">{{ 'email.contact_form.title'|trans }}</h3>

{# Makes an absolute URL to the /images/logo.png file #}
<table border="1" cellpadding="1" cellspacing="1">
    <thead>
    <tr>
        <th colspan="2">{{ 'email.contact_form.subtitle'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ 'email.contact_form.label.name'|trans }}</td> <td>{{ formData.name }}</td>
    </tr>
    <tr>
        <td>{{ 'email.contact_form.label.email'|trans }}</td><td>{{ formData.email }}</td>
    </tr>
    <tr>
        <td>{{ 'email.contact_form.label.subject'|trans }}</td><td>{{ formData.subject }}</td>
    </tr>
    <tr>
        <td>{{ 'email.contact_form.label.message'|trans }}</td><td width="50%">{{ formData.message }}</td>
    </tr>
    </tbody>
</table>


