<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Expertises </h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
                </div>
            </div>
        </div>
        <div class="row services-wrapper">
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lni-user"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 1</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="lni-user"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 2</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lni-calendar"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 3</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="0.8s">
                    <div class="icon">
                        <i class="lni-calendar"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 4</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="1s">
                    <div class="icon">
                        <i class="lni-users"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 5</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
            <!-- Services item -->
            <div class="col-md-6 col-lg-4 col-xs-12 padding-none">
                <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
                    <div class="icon">
                        <i class="lni-user"></i>
                    </div>
                    <div class="services-content">
                        <h3><a href="#">Expertise 6</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="#" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1.9s">En savoir +</a>
            </div>
        </div>
    </div>

</section>
<!-- Services Section End -->