<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Notre Equipe</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Global Grand Event on Digital Design</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-01.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                {#<ul class="social-icons">#}
                                    {#<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>#}
                                {#</ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Avocat Associée</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-02.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                {#<ul class="social-icons">#}
                                    {#<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>#}
                                {#</ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Avocat Associé</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-03.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Juriste Tech</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-04.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                {#<ul class="social-icons">#}
                                    {#<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>#}
                                {#</ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Juriste Droit du travail</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-05.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                {#<ul class="social-icons">#}
                                    {#<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>#}
                                {#</ul>#}
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Expert Droit du travail</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="{{ asset('img/team/team-06.jpg') }}" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                {#<ul class="social-icons">#}
                                    {#<li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>#}
                                    {#<li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>#}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">FIRSTNAME LASTNAME</a></h3>
                        <p>Juriste Droit des Entreprise</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
        </div>
        {#<a href="speakers.html" class="btn btn-common mt-30 wow fadeInUp" data-wow-delay="1.9s">All Speakers</a>#}
    </div>
</section>
<!-- Team Section End -->
