{% extends 'base.html.twig' %}

{% block title %}InterDroit - {% endblock %}


{% block body %}
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                        <span class="icon-menu"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="{{ ('img/logo.png') }}" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active">
                            <a class="nav-link" href="#header-wrap">
                                {{ 'nav.link.home'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">
                                {{ 'nav.link.office'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">
                                {{ 'nav.link.expertises'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#team">
                                {{ 'nav.link.team'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#schedules">
                                {{ 'nav.link.news'|trans|capitalize }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#google-map-area">
                                {{ 'nav.link.contact'|trans|capitalize }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a class="page-scrool" href="#header-wrap">{{ 'nav.link.home'|trans|capitalize }}</a>
                </li>
                <li>
                    <a class="page-scrool" href="#about">{{ 'nav.link.office'|trans|capitalize }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">{{ 'nav.link.expertises'|trans|capitalize }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">{{ 'nav.link.team'|trans|capitalize }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#schedules"> {{ 'nav.link.news'|trans|capitalize }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="#google-map-area">  {{ 'nav.link.contact'|trans|capitalize }}</a>
                </li>
            </ul>
            <!-- Mobile Menu End -->

        </nav>
        <!-- Navbar End -->

        <!-- Main Carousel Section Start -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ ('img/slider/slide1.jpg') }}" alt="First slide">
                    <div class="carousel-caption d-md-block">
                        <h1 class="wow fadeInDown heading" data-wow-delay=".4s">INTERDROIT AVOCATS</h1>
                        <p class="fadeInUp wow" data-wow-delay=".6s">Vos avocats en droit du travail<br />Luxembourg</p>
                        <a href="#" class="fadeInRight wow btn btn-border btn-lg" data-wow-delay=".6s">En savoir +</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ ('img/slider/slide2.jpg') }}" alt="Second slide">
                    <div class="carousel-caption d-md-block">
                        <p class="fadeInUp wow" data-wow-delay=".6s">Perferendis Doloribus Asperiores </p>
                        <h2 class="wow fadeInUp heading" data-wow-delay=".7s">22 Lorem ipsum dolor sit amet, consectetu</h2>
                        <a href="#" class="fadeInUp wow btn btn-border btn-lg" data-wow-delay=".8s">+ d'infos</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ ('img/slider/slide_3.jpg') }}" alt="Third slide">
                    <div class="carousel-caption d-md-block">
                        <p class="fadeInUp wow" data-wow-delay=".6s">Excepteur Sint Occaecat Cupidatat Possimuss</p>
                        <h2 class="wow fadeInUp heading" data-wow-delay=".6s">Lorem ipsum dolor sit amet, consectetu!</h2>
                        <a href="#" class="fadeInUp wow btn btn-common btn-lg" data-wow-delay=".8s">cliquer ici</a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main-slide" role="button" data-slide="prev">
                <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#main-slide" role="button" data-slide="next">
                <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Main Carousel Section End -->

    </header>
    <!-- Header Area wrapper End -->

    {#<!-- Coundown Section Start -->#}
    {#<section class="countdown-timer section-padding">#}
        {#<div class="container">#}
            {#<div class="row text-center">#}
                {#<div class="col-md-12 col-sm-12 col-xs-12">#}
                    {#<div class="heading-count">#}
                        {#<h2 class="wow fadeInDown" data-wow-delay="0.2s">Event Will Start In</h2>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-md-12 col-sm-12 col-xs-12">#}
                    {#<div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">#}
                        {#<div id="clock" class="time-count"></div>#}
                    {#</div>#}
                    {#<a href="pricing.html" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">Add to My Calender</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</section>#}
    {#<!-- Coundown Section End -->#}



    {% include 'front/_section_office.html.twig' %}

    {% include 'front/_section_expertises.html.twig' %}

    {% include 'front/_section_team.html.twig' %}

    {% include 'front/_section_news.html.twig' %}

    {% include 'front/_section_contact.html.twig' %}

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <h3><img src="{{ asset('img/logo.png') }}" alt=""></h3>
                    <p>
                        Aorem ipsum dolor sit amet elit sed lum tempor incididunt ut labore el dolore alg minim veniam quis nostrud ncididunt.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <h3>QUICK LINKS</h3>
                    <ul>
                        <li><a href="#">Cabinet</a></li>
                        <li><a href="#">Expertises</a></li>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="#">Actualités</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                    <h3>DERNIERES ACTU</h3>
                    <ul class="image-list">
                        <li>
                            {#<figure class="overlay">#}
                                {#<img class="img-fluid" src="{{ asset('img/art/a1.jpg') }}" alt="">#}
                            {#</figure>#}
                            <div class="post-content">
                                <h6 class="post-title"> <a href="blog-single.html">Lorem ipsm dolor sumit.</a> </h6>
                                <div class="meta"><span class="date"> 12 Juin 2019</span></div>
                            </div>
                        </li>
                        <li>
                            {#<figure class="overlay">#}
                                {#<img class="img-fluid" src="{{ asset('img/art/a2.jpg') }}" alt="">#}
                            {#</figure>#}
                            <div class="post-content">
                                <h6 class="post-title"><a href="blog-single.html">Lorem ipsm dolor sumit.</a></h6>
                                <div class="meta"><span class="date"> 12 Juin 2019</span></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                    <!-- /.widget -->

                        <h3>SUIVEZ NOUS</h3>
                        <ul class="footer-social">
                            <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                            <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                            <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                            <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                        </ul>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info">
                        <p>© Designed and Developed by <a href="http://uideck.com" rel="nofollow">Diatomos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <div id="preloader">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>


{% endblock %}
