<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Grand - Event and Conference Template{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" >
        <!-- Icon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/line-icons.css') }}" >
        <!-- Slicknav -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/slicknav.css') }}">
        <!-- Nivo Lightbox -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/nivo-lightbox.css') }}" >
        <!-- Animate -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css') }}">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">

    </head>
    <body>
        {% block body %}
        <h1> client side</h1>
        {% endblock %}
        {% block javascripts %}
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="{{ asset('js/jquery-min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
            <script src="{{ asset('js/jquery.nav.js') }}"></script>
            <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
            <script src="{{ asset('js/wow.js') }}"></script>
            <script src="{{ asset('js/jquery.slicknav.js') }}"></script>
            <script src="{{ asset('js/nivo-lightbox.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
